

div.header {
    background: radial-gradient(50% 50% at 50% 50%, rgba(212, 119, 119, 0.66) 66.67%, rgba(212, 119, 119, 0) 100%), url(../Img/401.png) no-repeat center center fixed;
    background-size: cover;
    height: 600px;
    /* display: flex; */
    color: white;
    padding: 5rem 4rem 5rem;
}
